<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="so.voc.vhome">

    <!-- Required -->
    <permission
        android:name="so.voc.vhome.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="so.voc.vhome.permission.JPUSH_MESSAGE" />

    <!-- 访问互联网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <!-- GPS定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:name=".base.BaseApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.SplashActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.LoginActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.RegisterForgetActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.MainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.Main01Activity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.UserInfoActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.AddDeviceActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.ModifyPwdActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.AddBootActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.BleListActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.BleBindingActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.DeviceListActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.DeviceShareRecordActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.ShareDeviceSettingActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.ShareDeviceActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.DeviceSettingActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.MemberListActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.OpenRecordActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.AlarmRecordActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.NotifyActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.DeviceInfoActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.KeyShareRecordActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.ShareNotifyActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.PersonalActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.EditActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.ShareKeyActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.MemberDetailActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.ShareSuccessActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.OrdinaryMemberActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.FingerprintManageListActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.AddFingerprintActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.FingerprintManagerActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name="com.king.zxing.CaptureActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":pushcore"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <!-- since 3.0.9 Required SDK 核心功能-->
        <provider
            android:authorities="so.voc.vhome.DataProvider"
            android:name="cn.jpush.android.service.DataProvider"
            android:process=":pushcore"
            android:exported="false"
            />

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="so.voc.vhome" />
            </intent-filter>

        </service>
        <!-- since 3.1.0 Required SDK 核心功能-->
        <provider
            android:authorities="so.voc.vhome.DownloadProvider"
            android:name="cn.jpush.android.service.DownloadProvider"
            android:exported="true"
            />
        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="so.voc.vhome" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" android:exported="false"/>

        <!--since 3.3.0 Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.service.JNotifyActivity"
            android:exported="true"
            android:taskAffinity="jpush.custom"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.JNotifyActivity" />
                <category android:name="so.voc.vhome" />
            </intent-filter>
        </activity>


        <!-- Since JCore2.0.0 Required SDK核心功能-->
        <!-- 这个Service要继承JCommonService -->
        <service android:name=".jpush.PushService"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>


        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name=".jpush.MyReceiver"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="so.voc.vhome" />
            </intent-filter>
        </receiver>

        <!-- User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调-->
        <receiver android:name=".jpush.MyJPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="so.voc.vhome"></category>
            </intent-filter>
        </receiver>

        <!--四大组件之一 内容提供者7.0要安装必须使用它，提供给其他应用进程使用-->
        <provider
            android:authorities="${applicationId}.fileprovider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="f3237f45ab98655ba5f013ffd760fa55"/>

        <service android:name="com.amap.api.location.APSService" />

        <meta-data android:value="5d01c01d3fc1951c73000373" android:name="UMENG_APPKEY"/>
        <meta-data android:value="Channel ID" android:name="UMENG_CHANNEL"/>

        <!-- 如果您项目中的所有页面都只需要以高或宽中的一个作为基准进行适配的话, 那就只需要填写高或宽中的一个设计图尺寸即可 -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="360"/>
        <meta-data
            android:name="design_height_in_dp"
            android:value="640"/>
    </application>

</manifest>